<!DOCTYPE html>
<html lang="en">

<head>
    <title>ASREA - Airside Safety Risk Evaluation VR Application</title>

    <!-- Include common head -->
    {% include 'common/head.html' %}
</head>

<body class="portfolio-details-page">

    <!-- Include common header -->
    {% include 'common/header.html' %}

    {% set IMG_BASE =
    "https://raw.githubusercontent.com/victortan102/victortan102-portfolio/main/assets/img/portfolio/software/asrea-MP"
    %}

    <main class="main">
        <!-- Page Title -->
        <div class="page-title dark-background">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">ASREA - Airside Safety Risk Evaluation VR Application</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="{{ url_for('home.index') }}">Home</a></li>
                        <li><a href="{{ url_for('home.index') }}#portfolio">Portfolio</a></li>
                        <li>Software</li>
                        <li class="current">ASREA - Airside Safety Risk Evaluation VR Application</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Portfolio Details Section -->
        <section id="portfolio-details" class="portfolio-details section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper init-swiper">

                            {% include 'common/swiper-config.html' %}

                            <div class="swiper-wrapper align-items-center">

                                {% for img_closeup, img, alt in [
                                ('thumbnail.png', 'thumbnail.png', 'thumbnail'),
                                ('2-asrea-welcome-screen.jpeg', '2-asrea-welcome-screen.jpeg', 'welcome-screen'),
                                ('3-asrea-game-options.jpeg', '3-asrea-game-options.jpeg', 'asrea-game-options'),
                                ('4-asrea-name-input.jpeg', '4-asrea-name-input.jpeg', 'asrea-name-input'),
                                ('5-asrea-lobby-single.jpeg', '5-asrea-lobby-single.jpeg', 'asrea-lobby-single'),
                                ('6-asrea-lobby-multiple.jpeg', '6-asrea-lobby-multiple.jpeg', 'asrea-lobby-multiple'),
                                ('7-asrea-lobby.jpeg', '7-asrea-lobby.jpeg', 'asrea-lobby'),
                                ('8-asrea-pilot-1.jpeg', '8-asrea-pilot-1.jpeg', 'asrea-pilot-1'),
                                ('9-asrea-pilot-cockpit.jpeg', '9-asrea-pilot-cockpit.jpeg', 'asrea-pilot-cockpit'),
                                ('10-asrea-truck.jpeg', '10-asrea-truck.jpeg', 'asrea-truck'),
                                ('11-asrea-truck-inside.jpeg', '11-asrea-truck-inside.jpeg', 'asrea-truck-inside'),
                                ('12-asrea-plane-takeoff.jpeg', '12-asrea-plane-takeoff.jpeg', 'asrea-plane-takeoff'),
                                ('13-asrea-teleport-1.jpeg', '13-asrea-teleport-1.jpeg', 'asrea-teleport-1'),
                                ('14-asrea-teleport-2.jpeg', '14-asrea-teleport-2.jpeg', 'asrea-teleport-2'),
                                ('15-asrea-pause-screen.jpeg', '15-asrea-pause-screen.jpeg', 'asrea-pause-screen'),
                                ('16-asrea-rain-1.jpeg', '16-asrea-rain-1.jpeg', 'asrea-rain-1'),
                                ('17-asrea-rain-2.jpeg', '17-asrea-rain-2.jpeg', 'asrea-rain-2'),
                                ('18-asrea-night.jpeg', '18-asrea-night.jpeg', 'asrea-night'),
                                ('19-asrea-game-over.jpeg', '19-asrea-game-over.jpeg', 'asrea-game-over')
                                ] %}

                                <div class="swiper-slide">
                                    <a href="{{ IMG_BASE }}/{{ img_closeup }}" class="glightbox"
                                        data-gallery="asrea-vr-application-gallery">
                                        <img src="{{ IMG_BASE }}/{{ img }}" alt="{{ alt }}" loading="lazy"
                                            decoding="async">
                                    </a>
                                </div>

                                {% endfor %}

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                            <h3>Project Information</h3>
                            <ul>
                                <li><strong>Category</strong>: Software, VR Application Development</li>
                                <li><strong>Language</strong>: C#</li>
                                <li><strong>Project Date</strong>: October 2020 - February 2021</li>
                                <li>
                                    <a href="https://youtu.be/qp5tpRQY3l0" target="_blank">
                                        <button class="youtube-button">
                                            <div class="svg-wrapper-1">
                                                <div class="svg-wrapper">
                                                    <svg height="24" width="24" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                                        <path
                                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <span>Watch on YouTube</span>
                                        </button>
                                    </a>
                                </li>
                                <li class="hide">
                                    <a href="https://github.com/victortan102/Multiplayer-VR-Environment-For-ASREA-MP"
                                        target="_blank">
                                        <button class="github-button">
                                            <div class="svg-wrapper-1">
                                                <div class="svg-wrapper">
                                                    <svg height="24" width="24" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.167 6.839 9.491.5.091.682-.217.682-.482 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.342-3.369-1.342-.454-1.153-1.11-1.46-1.11-1.46-.907-.62.069-.607.069-.607 1.003.07 1.531 1.03 1.531 1.03.891 1.527 2.341 1.086 2.91.831.091-.646.349-1.086.636-1.337-2.22-.252-4.555-1.11-4.555-4.943 0-1.091.39-1.983 1.03-2.681-.103-.253-.446-1.27.098-2.648 0 0 .84-.269 2.75 1.025A9.564 9.564 0 0 1 12 6.844c.851.004 1.705.115 2.504.337 1.909-1.294 2.749-1.025 2.749-1.025.545 1.378.202 2.395.099 2.648.64.698 1.03 1.59 1.03 2.681 0 3.841-2.338 4.687-4.566 4.933.359.31.678.92.678 1.855 0 1.338-.012 2.419-.012 2.748 0 .267.18.576.688.478A10.003 10.003 0 0 0 22 12c0-5.523-4.477-10-10-10z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <span>View on GitHub</span>
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                            <h2>Project Description</h2>
                            <p>
                                One of the key areas in aviation management is airside safety. All potential aviators
                                will have to go through a safety course on airside training. It is observed that the
                                current training on the key aviation safety concepts for potential aviators has a lack
                                of intuition and efficiency due to the use of old methods (e.g., video, picture, and
                                text) for training.
                            </p>
                            <p>
                                In order to familiarise the potential aviators with aviation safety and potential
                                hazards in the airport, we would like to design a virtual reality application to allow
                                them to learn about the risks and hazards better during training. Furthermore, this
                                application can also reduce the incidence of errors when the trainees commence their
                                work.
                            </p>

                            <h3>Main Features of the Application:</h3>
                            <ol>
                                <li>
                                    The players would be able to play the game in two different virtual airport
                                    environments developed using Unity3D to allow them to learn in a realistic
                                    environment.
                                </li>
                                <li>
                                    Multiple users would be able to connect to a server hosted online to play the game
                                    together.
                                </li>
                                <li>
                                    The players in the same room would be able to communicate with each other by voice.
                                </li>
                                <li>
                                    Different players in the game will get a chance to act as different roles in the
                                    airport, such as a pilot or driver, to drive the vehicles and planes in the virtual
                                    environment.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Portfolio Details Section -->
    </main>

    <!-- Footer -->
    {% include 'common/footer.html' %}
</body>

</html>