<!DOCTYPE html>
<html lang="en">

<head>
    <title>Caregiver-Elderly Medicine Reminder Android App</title>

    <!-- Include common head -->
    {% include 'common/head.html' %}
</head>

<body class="portfolio-details-page">

    <!-- Include common header -->
    {% include 'common/header.html' %}

    <main class="main">
        <!-- Page Title -->
        <div class="page-title dark-background">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">Caregiver-Elderly Medicine Reminder Android App</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="{{ url_for('home.index') }}">Home</a></li>
                        <li><a href="{{ url_for('home.index') }}#portfolio">Portfolio</a></li>
                        <li>Software</li>
                        <li class="current">Caregiver-Elderly Medicine Reminder Android App</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Portfolio Details Section -->
        <section id="portfolio-details" class="portfolio-details section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper init-swiper">

                            {% include 'common/swiper-config.html' %}

                            <div class="swiper-wrapper align-items-center">
                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/thumbnail.png') }}"
                                        class="glightbox" data-gallery="caregiver-elderly-medicine-app-gallery">
                                        <img src="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/thumbnail.png') }}"
                                            alt="thumbnail">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/caregiver-medicine-app-1-closeup.png') }}"
                                        class="glightbox" data-gallery="caregiver-elderly-medicine-app-gallery">
                                        <img src="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/caregiver-medicine-app-1.png') }}"
                                            alt="caregiver-medicine-app-1">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/caregiver-medicine-app-2-closeup.png') }}"
                                        class="glightbox" data-gallery="caregiver-elderly-medicine-app-gallery">
                                        <img src="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/caregiver-medicine-app-2.png') }}"
                                            alt="caregiver-medicine-app-2">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/caregiver-medicine-app-3-closeup.png') }}"
                                        class="glightbox" data-gallery="caregiver-elderly-medicine-app-gallery">
                                        <img src="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/caregiver-medicine-app-3.png') }}"
                                            alt="caregiver-medicine-app-3">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/caregiver-medicine-app-4-closeup.png') }}"
                                        class="glightbox" data-gallery="caregiver-elderly-medicine-app-gallery">
                                        <img src="{{ url_for('static', filename='img/portfolio/software/caregiver-elderly-medicine-reminder-app-INF2002/caregiver-medicine-app-4.png') }}"
                                            alt="caregiver-medicine-app-4">
                                    </a>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                            <h3>Project Information</h3>
                            <ul>
                                <li><strong>Category</strong>: Software, Human Computer Interaction, Android Application
                                    Programming</li>
                                <li><strong>Language</strong>: Java</li>
                                <li><strong>Project Date</strong>: September 2024 - November 2024</li>
                                <li>
                                    <a href="https://youtu.be/oiVECZ-WgBU" target="_blank">
                                        <button class="youtube-button">
                                            <div class="svg-wrapper-1">
                                                <div class="svg-wrapper">
                                                    <svg height="24" width="24" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                                        <path
                                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <span>Watch on YouTube</span>
                                        </button>
                                    </a>
                                </li>
                                <li class="hide">
                                    <a href="https://github.com/victortan102/INF2002-Human-Computer-Interaction-Project"
                                        target="_blank">
                                        <button class="github-button">
                                            <div class="svg-wrapper-1">
                                                <div class="svg-wrapper">
                                                    <svg height="24" width="24" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.167 6.839 9.491.5.091.682-.217.682-.482 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.342-3.369-1.342-.454-1.153-1.11-1.46-1.11-1.46-.907-.62.069-.607.069-.607 1.003.07 1.531 1.03 1.531 1.03.891 1.527 2.341 1.086 2.91.831.091-.646.349-1.086.636-1.337-2.22-.252-4.555-1.11-4.555-4.943 0-1.091.39-1.983 1.03-2.681-.103-.253-.446-1.27.098-2.648 0 0 .84-.269 2.75 1.025A9.564 9.564 0 0 1 12 6.844c.851.004 1.705.115 2.504.337 1.909-1.294 2.749-1.025 2.749-1.025.545 1.378.202 2.395.099 2.648.64.698 1.03 1.59 1.03 2.681 0 3.841-2.338 4.687-4.566 4.933.359.31.678.92.678 1.855 0 1.338-.012 2.419-.012 2.748 0 .267.18.576.688.478A10.003 10.003 0 0 0 22 12c0-5.523-4.477-10-10-10z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <span>View on GitHub</span>
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                            <h2>Project Description</h2>
                            <p>
                                This application is designed to help caregivers and elderly users manage and track
                                daily medication schedules. The app provides reminders, tracking, and essential
                                functionalities
                                to support caregivers in assisting elderly individuals with medication adherence.
                            </p>

                            <p>
                                <strong>This Android application is a front-end prototype developed to explore HCI
                                    principles, emphasizing usability and design, without incorporating backend
                                    functionality.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Portfolio Details Section -->

        <!-- Additional Details Section -->
        <section id="additional-details" class="portfolio-details section">
            <div class="container portfolio-description" data-aos="fade-up" data-aos-delay="100">
                <h2>🗝️ Key Features of Application</h2>
                <ol>
                    <li><strong>Caregiver and Elderly User Profiles:</strong> Separate views and activities for
                        caregivers and elderly users, customized for each role.</li>
                    <li><strong>Medicine Reminders:</strong> Allows caregivers to set and view reminders for medication.
                    </li>
                    <li><strong>Medication Tracking:</strong> Elderly users can mark medications as taken, and
                        caregivers can check adherence.</li>
                    <li><strong>Profile Management:</strong> Supports editing profiles and setting preferences,
                        including language and font size adjustments.</li>
                    <li><strong>Dark Mode and Language Support:</strong> Provides options for dark mode and multiple
                        language selections (English, Chinese, Malay).</li>
                </ol>
            </div>
        </section><!-- /Additional Details Section -->
    </main>

    <!-- Footer -->
    {% include 'common/footer.html' %}
</body>

</html>