<!DOCTYPE html>
<html lang="en">

<head>
    <title>HDB Resale Flat Price Analysis Python Application</title>

    <!-- Include common head -->
    {% include 'common/head.html' %}
</head>

<body class="portfolio-details-page">

    <!-- Include common header -->
    {% include 'common/header.html' %}

    {% set IMG_BASE =
    "https://raw.githubusercontent.com/victortan102/victortan102-portfolio/main/assets/img/portfolio/software/hdb-flat-price-analysis-INF1002"
    %}

    <main class="main">
        <!-- Page Title -->
        <div class="page-title dark-background">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">HDB Resale Flat Price Analysis Python Application</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="{{ url_for('home.index') }}">Home</a></li>
                        <li><a href="{{ url_for('home.index') }}#portfolio">Portfolio</a></li>
                        <li>Software</li>
                        <li class="current">HDB Resale Flat Price Analysis Python Application</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Portfolio Details Section -->
        <section id="portfolio-details" class="portfolio-details section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper init-swiper">

                            {% include 'common/swiper-config.html' %}

                            <div class="swiper-wrapper align-items-center">

                                {% for img_closeup, img, alt in [
                                ('thumbnail.png', 'thumbnail.png', 'thumbnail'),
                                ('hdb-flat-app-home.png', 'hdb-flat-app-home.png', 'hdb-flat-app-home'),
                                ('hdb-flat-app-demo-1.png', 'hdb-flat-app-demo-1.png', 'hdb-flat-app-demo-1'),
                                ('hdb-flat-app-demo-2.png', 'hdb-flat-app-demo-2.png', 'hdb-flat-app-demo-2'),
                                ('hdb-flat-app-demo-3.png', 'hdb-flat-app-demo-3.png', 'hdb-flat-app-demo-3'),
                                ('hdb-flat-app-demo-4.png', 'hdb-flat-app-demo-4.png', 'hdb-flat-app-demo-4'),
                                ('hdb-flat-app-demo-5.png', 'hdb-flat-app-demo-5.png', 'hdb-flat-app-demo-5'),
                                ('hdb-flat-app-demo-6.png', 'hdb-flat-app-demo-6.png', 'hdb-flat-app-demo-6'),
                                ('hdb-flat-app-demo-7.png', 'hdb-flat-app-demo-7.png', 'hdb-flat-app-demo-7'),
                                ('hdb-flat-app-demo-8.png', 'hdb-flat-app-demo-8.png', 'hdb-flat-app-demo-8'),
                                ('hdb-flat-app-demo-9.png', 'hdb-flat-app-demo-9.png', 'hdb-flat-app-demo-9'),
                                ('hdb-flat-app-demo-10.png', 'hdb-flat-app-demo-10.png', 'hdb-flat-app-demo-10'),
                                ('hdb-flat-app-demo-11.png', 'hdb-flat-app-demo-11.png', 'hdb-flat-app-demo-11'),
                                ('hdb-flat-app-demo-12.png', 'hdb-flat-app-demo-12.png', 'hdb-flat-app-demo-12'),
                                ('hdb-flat-app-demo-13.png', 'hdb-flat-app-demo-13.png', 'hdb-flat-app-demo-13'),
                                ('hdb-flat-app-demo-14.png', 'hdb-flat-app-demo-14.png', 'hdb-flat-app-demo-14'),
                                ('hdb-flat-app-demo-15.png', 'hdb-flat-app-demo-15.png', 'hdb-flat-app-demo-15'),
                                ('hdb-flat-app-demo-16.png', 'hdb-flat-app-demo-16.png', 'hdb-flat-app-demo-16'),
                                ('hdb-flat-app-demo-17.png', 'hdb-flat-app-demo-17.png', 'hdb-flat-app-demo-17'),
                                ('hdb-flat-app-demo-18.png', 'hdb-flat-app-demo-18.png', 'hdb-flat-app-demo-18'),
                                ('hdb-flat-app-demo-19.png', 'hdb-flat-app-demo-19.png', 'hdb-flat-app-demo-19'),
                                ('hdb-flat-app-demo-20.png', 'hdb-flat-app-demo-20.png', 'hdb-flat-app-demo-20'),
                                ('hdb-flat-app-demo-21.png', 'hdb-flat-app-demo-21.png', 'hdb-flat-app-demo-21'),
                                ('hdb-flat-app-demo-22.png', 'hdb-flat-app-demo-22.png', 'hdb-flat-app-demo-22'),
                                ('hdb-flat-app-demo-23.png', 'hdb-flat-app-demo-23.png', 'hdb-flat-app-demo-23'),
                                ('hdb-flat-app-demo-24.png', 'hdb-flat-app-demo-24.png', 'hdb-flat-app-demo-24'),
                                ('hdb-flat-app-demo-25.png', 'hdb-flat-app-demo-25.png', 'hdb-flat-app-demo-25'),
                                ] %}

                                <div class="swiper-slide">
                                    <a href="{{ IMG_BASE }}/{{ img_closeup }}" class="glightbox"
                                        data-gallery="python-hdb-analysis-gallery">
                                        <img src="{{ IMG_BASE }}/{{ img }}" alt="{{ alt }}" loading="lazy"
                                            decoding="async">
                                    </a>
                                </div>

                                {% endfor %}

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                            <h3>Project Information</h3>
                            <ul>
                                <li><strong>Category</strong>: Software, Machine Learning</li>
                                <li><strong>Language</strong>: Python</li>
                                <li><strong>Project Date</strong>: September 2023 - November 2023</li>
                                <li>
                                    <a href="https://youtu.be/IrH3ddZXZBM" target="_blank">
                                        <button class="youtube-button">
                                            <div class="svg-wrapper-1">
                                                <div class="svg-wrapper">
                                                    <svg height="24" width="24" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                                        <path
                                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <span>Watch on YouTube</span>
                                        </button>
                                    </a>
                                </li>
                                <li class="hide">
                                    <a href="https://github.com/victortan102/INF1002-Programming-Fundamentals-Python-Project"
                                        target="_blank">
                                        <button class="github-button">
                                            <div class="svg-wrapper-1">
                                                <div class="svg-wrapper">
                                                    <svg height="24" width="24" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.167 6.839 9.491.5.091.682-.217.682-.482 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.342-3.369-1.342-.454-1.153-1.11-1.46-1.11-1.46-.907-.62.069-.607.069-.607 1.003.07 1.531 1.03 1.531 1.03.891 1.527 2.341 1.086 2.91.831.091-.646.349-1.086.636-1.337-2.22-.252-4.555-1.11-4.555-4.943 0-1.091.39-1.983 1.03-2.681-.103-.253-.446-1.27.098-2.648 0 0 .84-.269 2.75 1.025A9.564 9.564 0 0 1 12 6.844c.851.004 1.705.115 2.504.337 1.909-1.294 2.749-1.025 2.749-1.025.545 1.378.202 2.395.099 2.648.64.698 1.03 1.59 1.03 2.681 0 3.841-2.338 4.687-4.566 4.933.359.31.678.92.678 1.855 0 1.338-.012 2.419-.012 2.748 0 .267.18.576.688.478A10.003 10.003 0 0 0 22 12c0-5.523-4.477-10-10-10z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <span>View on GitHub</span>
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                            <h2>Project Introduction and Objectives</h2>
                            <p>
                                Financial concerns persist for individuals regardless of the economic climate.
                                HDB resale flat prices in Singapore have risen by 42.3% over six years.
                            </p>
                            <p>
                                This project seeks to uncover the factors driving this increase.
                                The application offers users insights into current market trends,
                                enabling informed decisions by forecasting resale prices.
                                Additionally, users can compare these predictions with Build-to-Order (BTO) flats
                                to ascertain affordability.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Portfolio Details Section -->

        <!-- Additional Details Section -->
        <section id="additional-details" class="portfolio-details section">
            <div class="container portfolio-description" data-aos="fade-up" data-aos-delay="100">
                <h2>🗝️ Key Features of Application</h2>
                <ul>
                    <li><strong>User-Friendly GUI</strong>: Graphical Interface that facilitates seamless navigation and
                        effortless usability within the application.</li>
                    <li><strong>Historical Data</strong>: Dataset with Resale Flat Prices based on registration date
                        from <strong>Jan 2017 to Sep 2023</strong>.</li>
                    <li><strong>Browsing the Dataset</strong>: Browse the dataset in the Graphical-User-Interface (GUI),
                        filter rows and plot graphs from the table.</li>
                    <li><strong>Time Series Analysis</strong>: Examine the historical trends in the resale prices of
                        flats over the years.</li>
                    <li><strong>Geographical Analysis</strong>: Visualize historical resale flat transactions on a map.
                    </li>
                    <li><strong>Storey Range Analysis</strong>: Examine the correlation between the height or floor
                        level of a flat and its potential influence on resale property prices.</li>
                    <li><strong>Flat Type and Size Insights</strong>: View the different flat types, sizes and models
                        and how they influence resale flat prices.</li>
                    <li><strong>Remaining Lease Analysis</strong>: Examine the correlation between flat prices and the
                        duration of the remaining lease.</li>
                    <li><strong>Flat Price Prediction</strong>: Estimate the potential resale value of a particular flat
                        model by analyzing historical pricing data.</li>
                    <li><strong>Import Dataset</strong>: Download the most recent dataset from <a
                            href="https://beta.data.gov.sg/collections/189/datasets/d_8b84c4ee58e3cfc0ece0d773c8ca6abc/view"
                            target="_blank">data.gov.sg</a> and integrate it into the application for up-to-date data
                        analysis.</li>
                </ul>
            </div>
        </section><!-- /Additional Details Section -->
    </main>

    <!-- Footer -->
    {% include 'common/footer.html' %}
</body>

</html>