<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Bathroom Water Heater</title>

    <!-- Include common head -->
    {% include 'common/head.html' %}
</head>

<body class="portfolio-details-page">

    <!-- Include common header -->
    {% include 'common/header.html' %}

    <main class="main">
        <!-- Page Title -->
        <div class="page-title dark-background">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">Smart Bathroom Water Heater</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="{{ url_for('home.index') }}">Home</a></li>
                        <li><a href="{{ url_for('home.index') }}#portfolio">Portfolio</a></li>
                        <li>Hardware</li>
                        <li class="current">Smart Bathroom Water Heater</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Portfolio Details Section -->
        <section id="portfolio-details" class="portfolio-details section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper init-swiper">

                            {% include 'common/swiper-config.html' %}

                            <div class="swiper-wrapper align-items-center">
                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/portfolio/hardware/smart-bathroom-water-heater-ECAPP/thumbnail.png') }}"
                                        class="glightbox" data-gallery="smart-water-heater-gallery">
                                        <img src="{{ url_for('static', filename='img/portfolio/hardware/smart-bathroom-water-heater-ECAPP/thumbnail.png') }}"
                                            alt="thumbnail">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/portfolio/hardware/smart-bathroom-water-heater-ECAPP/smart-water-heater-closeup.png') }}"
                                        class="glightbox" data-gallery="smart-water-heater-gallery">
                                        <img src="{{ url_for('static', filename='img/portfolio/hardware/smart-bathroom-water-heater-ECAPP/smart-water-heater-closeup.png') }}"
                                            alt="circuit-board-front">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/portfolio/hardware/smart-bathroom-water-heater-ECAPP/smart-water-heater-wiring.jpg') }}"
                                        class="glightbox" data-gallery="smart-water-heater-gallery">
                                        <img src="{{ url_for('static', filename='img/portfolio/hardware/smart-bathroom-water-heater-ECAPP/smart-water-heater-wiring.jpg') }}"
                                            alt="circuit-board-wiring">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/portfolio/hardware/smart-bathroom-water-heater-ECAPP/smart-water-heater-schematic.png') }}"
                                        class="glightbox" data-gallery="smart-water-heater-gallery">
                                        <img src="{{ url_for('static', filename='img/portfolio/hardware/smart-bathroom-water-heater-ECAPP/smart-water-heater-schematic.png') }}"
                                            alt="schematic-diagram">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                            <h3>Project Information</h3>
                            <ul>
                                <li><strong>Category</strong>: Hardware, Embedded Systems Programming</li>
                                <li><strong>Language</strong>: C</li>
                                <li><strong>Project Date</strong>: October 2019 - February 2020</li>
                                <li>
                                    <a href="https://youtu.be/amreky3J0-8" target="_blank">
                                        <button class="youtube-button">
                                            <div class="svg-wrapper-1">
                                                <div class="svg-wrapper">
                                                    <svg height="24" width="24" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                                        <path
                                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <span>Watch on YouTube</span>
                                        </button>
                                    </a>
                                </li>
                                <li class="hide">
                                    <a href="https://github.com/victortan102/Smart-Bathroom-Water-Heater-ECAPP"
                                        target="_blank">
                                        <button class="github-button">
                                            <div class="svg-wrapper-1">
                                                <div class="svg-wrapper">
                                                    <svg height="24" width="24" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.167 6.839 9.491.5.091.682-.217.682-.482 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.342-3.369-1.342-.454-1.153-1.11-1.46-1.11-1.46-.907-.62.069-.607.069-.607 1.003.07 1.531 1.03 1.531 1.03.891 1.527 2.341 1.086 2.91.831.091-.646.349-1.086.636-1.337-2.22-.252-4.555-1.11-4.555-4.943 0-1.091.39-1.983 1.03-2.681-.103-.253-.446-1.27.098-2.648 0 0 .84-.269 2.75 1.025A9.564 9.564 0 0 1 12 6.844c.851.004 1.705.115 2.504.337 1.909-1.294 2.749-1.025 2.749-1.025.545 1.378.202 2.395.099 2.648.64.698 1.03 1.59 1.03 2.681 0 3.841-2.338 4.687-4.566 4.933.359.31.678.92.678 1.855 0 1.338-.012 2.419-.012 2.748 0 .267.18.576.688.478A10.003 10.003 0 0 0 22 12c0-5.523-4.477-10-10-10z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <span>View on GitHub</span>
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                            <h2>Project Introduction and Objectives</h2>
                            <p>
                                Mr Tan owns a company that manufactures domestic electric bathroom water heaters.
                                They use a thermostat as the main automatic temperature control device.
                                This kind of water heater is becoming outdated in the market.
                            </p>
                            <p>
                                We have been approached by Mr Tan to produce a prototype for a smart environment
                                and user-friendly water heater with useful features to set water flow rate and heating
                                time.
                                The prototype shall eventually provide useful attributes to the management team to
                                decide on
                                the feasibility of manufacturing such water heaters.
                            </p>
                            <p>
                                Our team has decided to add the following features to the prototype to produce a smart
                                bathroom water heater for the company.
                            </p>
                            <ul>
                                <li>The heater's water level can be set by turning the trimmer to the user desired flow
                                    rate (0.0 litres/min to 8.9 litres/min).</li>
                                <li>The water heater's heat level can be set by pressing a number on the keypad to
                                    change the level of heat from 0 to 9.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Portfolio Details Section -->

        <!-- Additional Details Section -->
        <section id="additional-details" class="portfolio-details section">
            <div class="container portfolio-description" data-aos="fade-up" data-aos-delay="100">
                <h2>System Operation (How the program works)</h2>
                <p>
                    Our project, the smart water heater, is used as a prototype to showcase various user-friendly
                    features for controlling the water heater. The user will be able to control the water heater using
                    four different components:
                </p>
                <ul>
                    <li>Keypad (<strong>RB0</strong>)</li>
                    <li>S3 (<strong>RB2</strong>)</li>
                    <li>Trimmer (<strong>RA0</strong>)</li>
                    <li>Touch Sensor (<strong>RB1</strong>)</li>
                </ul>
                <p>
                    The user can adjust the water heater’s heating level by pressing <strong>values 0 to 9</strong> on
                    the keypad with <strong>value 0</strong> equals no heating, whereas <strong>value 9</strong> is the
                    highest heating level.
                </p>
                <p>
                    However, if the user presses an invalid key, the <strong>LCD</strong> will display an error message
                    and prompt the user to re-enter a valid input.
                </p>
                <p>
                    When the heating level selected is of a higher temperature than the current temperature, the light
                    bulb will increase its brightness with the help of the <strong>Timer1 Module</strong> in the
                    <strong>PIC18F4520 microcontroller</strong> counting at a speed of 200ms as it increases a preset
                    count value until it reaches the desired temperature.
                </p>
                <p>
                    On the other hand, when the temperature is lower than the current temperature, the light bulb’s
                    brightness will decrease accordingly to the new preset count value of the Timer1 Module in the
                    <strong>PIC18F4520 microcontroller</strong> until it reaches the new desired temperature.
                </p>
                <p>
                    Secondly, the water flow rate can be adjusted when the push button ‘<strong>S3</strong>’ is pressed
                    to enable the user to change the flow rate. Thereafter, the user can adjust the water flow rate by
                    turning the trimmer on the water heater. The flow rate will be displayed on the 7-segment display
                    with <strong>0.0 litres/min</strong>, indicating that no water is flowing to <strong>8.9
                        litres/min</strong>, indicating that the water heater is running at the maximum flow rate. An
                    audible sound will also be available to allow the user to hear.
                </p>
                <p>
                    Next, the touch sensor will be used to simulate a motion sensor to detect if the user is present. If
                    the sensor does not sense any user after 60 seconds, the system will go into sleep mode. Whereas, if
                    the sensor detects the user, the system will continue execution until there is no user interaction.
                </p>
                <p>
                    The <strong>SLEEP</strong> mode of the microcontroller will be activated after <strong>60 secs of
                        inactiveness</strong>. In order to provide a visual representation of the microcontroller’s
                    current power mode, the LED colour will change from green to yellow to red through an
                    <strong>interval of 20 seconds</strong> for each LED:
                </p>
                <ul>
                    <li>At <strong>20 secs</strong>, the <strong>yellow</strong> LED will light up to warn the user that
                        the system has gone past 20 secs without user interaction.</li>
                    <li>After <strong>40 secs</strong>, the red LED will light up, indicating that the system has gone
                        past 40 secs without user interaction.</li>
                    <li>After another <strong>20 secs</strong>, the system will enter into the <strong>SLEEP
                            Mode</strong>. On the sleep instruction, the bulb will also be turned off to conserve
                        energy.</li>
                </ul>
                <p>
                    To wake up the system, the user can touch the touch sensor or use any of the controls such as the
                    keypad or switch <strong>S3</strong> to continue using the system.
                </p>
            </div>
        </section><!-- /Additional Details Section -->
    </main>

    <!-- Footer -->
    {% include 'common/footer.html' %}
</body>

</html>