<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home - Victor Tan</title>

    <!-- Include common head -->
    {% include 'common/head.html' %}
</head>

<body class="index-page">

    <!-- Include common header -->
    {% include 'common/header.html' %}

    <main class="main">
        <!-- Hero Section -->
        {% include 'sections/hero.html' %}
        <!-- End Hero Section -->

        <!-- About Section -->
        {% include 'sections/about.html' %}
        <!-- End About Section -->

        <!-- Stats Section -->
        {% include 'sections/stats.html' %}
        <!-- End Stats Section -->

        <!-- Skills Section -->
        {% include 'sections/skills.html' %}
        <!-- End Skills Section -->

        <!-- Resume Section -->
        {% include 'sections/resume.html' %}
        <!-- End Resume Section -->

        <!-- Licenses and Certifications Section -->
        {% include 'sections/certifications.html' %}
        <!-- End Licenses and Certifications Section -->

        <!-- Portfolio Section -->
        {% include 'sections/portfolio.html' %}
        <!-- End Portfolio Section -->

    </main>

    <!-- Footer -->
    {% include 'common/footer.html' %}

</body>

</html>